<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="/projects/add/" method="post">
        <label>Add Project</label>
        <br><br>
        <label>Project Number: </label>
        <input type="number" name="p_number">
        <br><br>
        <label>Project Name</label>
        <input type="text" name="p_name">
        <br><br>
        <label>Yarn Type</label>
        <input type="text" name="yarn">
        <br><br>
        <button type="submit"> Add </button>

    </form>
</body>
</html>